<!-- ++++++++ INDEX ++++++++++++++++
  The landing view for the Luxe application. 
  Includes a weather widget from booked.net,
  a welcome message, and buttons to booking and 
  guest login views.
-->

<!-- Weather widget from booked.net -->
<div style="margin-top:15px; float:right;" id="m-booked-bl-simple-57608" align="right"> 
	<div class="booked-wzs-160-110 weather-customize" style="background-color:#137AE9;width:160px;" id="width1"> 
		<div class="booked-wzs-160-110_in"> <a target="_blank" class="booked-wzs-top-160-110" href="https://www.booked.net/"><img src="//s.bookcdn.com/images/letter/s5.gif" alt="www booked net" /></a> 
		<div class="booked-wzs-160-data"> <div class="booked-wzs-160-left-img wrz-18"></div> 
		<div class="booked-wzs-160-right"> 
			<div class="booked-wzs-day-deck"> 
				<div class="booked-wzs-day-val"> 
					<div class="booked-wzs-day-number"><span class="plus">+</span>9</div> 
					<div class="booked-wzs-day-dergee"> 
						<div class="booked-wzs-day-dergee-val">&deg;</div> 
						<div class="booked-wzs-day-dergee-name">C</div> 
						</div> 
						</div> 
						<div class="booked-wzs-day"> 
							<div class="booked-wzs-day-d"><span class="plus">+</span>11&deg;</div> <div class="booked-wzs-day-n"><span class="plus">+</span>9&deg;</div> 
							</div> 
							</div> 
							<div class="booked-wzs-160-info"> <div class="booked-wzs-160-city">Seattle</div> <div class="booked-wzs-160-date">Saturday, 09</div> 
							</div> 
							</div> 
							</div> <a target="_blank" href="https://www.booked.net/weather/seattle-283" class="booked-wzs-bottom-160-110"> <div class="booked-wzs-center"><span class="booked-wzs-bottom-l"> See 7-Day Forecast</span></div> </a> 
							</div> 
							</div> 
							</div>
			<script type="text/javascript"> 
			var css_file=document.createElement("link"); 
			css_file.setAttribute("rel","stylesheet"); 
			css_file.setAttribute("type","text/css"); 
			css_file.setAttribute("href",'https://s.bookcdn.com/css/w/booked-wzs-widget-160.css?v=0.0.1'); 
			document.getElementsByTagName("head")[0].appendChild(css_file); 
			function setWidgetData(data) { if(typeof(data) != 'undefined' && data.results.length > 0) { for(var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-bl-simple-57608'); if(objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-'+data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if(copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } } </script> <script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=283&type=1&scode=2&ltid=3458&domid=w209&anc_id=37736&cmetric=1&wlangID=1&color=137AE9&wwidth=160&header_color=ffffff&text_color=333333&link_color=08488D&border_form=1&footer_color=ffffff&footer_text_color=333333&transparent=0"></script><!-- weather widget end -->

<!-- Welcome message -->
<div class="row">
	<div class="col-lg-9">
		<div id="body-cont">
			<h1>Welcome</h1>
			<p>Relaxation awaits at <strong>Luxe Liesure Resorts</strong>, where dream getaways are a click away.</p>
			<p>Book a room for the weekend, access spa services, or dine in style at the Luxe restaurant and bar.</p>
			<h3>Be our guest</h3>
			<p>Select <b>Book a Room</b> to start your stay with us or <b>Login</b> to view existing reservations.</p>

			<!-- Buttons to booking or guest login views -->
			<a href="/room/book">
				<button type="button" class="btn btn-default" style="float:left;">Book a Room</button>
			</a>
			<a href="/guest/login">
				<button type="button" class="btn btn-default" style="float:left;">Login</button>
			</a>
			
		</div>
	</div>
</div>


<!-- JS for weather widget from booked.net -->
<script type="text/javascript"> 
	var css_file=document.createElement("link"); css_file.setAttribute("rel","stylesheet"); css_file.setAttribute("type","text/css"); css_file.setAttribute("href",'https://s.bookcdn.com/css/w/booked-wzs-widget-160.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData(data) { if(typeof(data) != 'undefined' && data.results.length > 0) { for(var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-bl-simple-95855'); if(objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-'+data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if(copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } } 
</script> 
<script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=18163&type=1&scode=124&ltid=3458&domid=w209&anc_id=85968&cmetric=0&wlangID=1&color=78afeb&wwidth=160&header_color=ffffff&text_color=333333&link_color=08488D&border_form=1&footer_color=ffffff&footer_text_color=333333&transparent=0"></script>
<!-- Weather widget JS end -->